@import 'bulma/css/bulma.min.css';

html, body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Rubik", sans-serif;
}

body {
  background: #f5ebb4;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.card {
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  font-family: "Rubik", sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.button {
  font-family: "Rubik", sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  transition: background-color 0.3s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title, .subtitle {
  font-family: "Rubik", sans-serif;
}

.post-content {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  color: #2e2c2c;
  line-height: 1.6;
}
